## Creating a String

In [1]:
'hello' #single word

'hello'

In [2]:
'this is also a string'

'this is also a string'

In [3]:
"We can use double quotes as well"

'We can use double quotes as well'

In [5]:
'I'm using single quote. this will give an error'

SyntaxError: unterminated string literal (detected at line 1) (2402395037.py, line 1)

In [7]:
"Rather use double quotes: I'm fine now. single quote got wrapped around with double quotes"

"Rather use double quotes: I'm fine now. single quote got wrapped around with double quotes"

In [8]:
s = 'hello'

In [9]:
s[:4]

'hell'

In [10]:
s[-5:4]

'hell'

In [11]:
s[0:-1]

'hell'

In [12]:
s[-5:-1]

'hell'

In [13]:
s[0:5:2]

'hlo'

In [14]:
s[::2]

'hlo'

In [15]:
s1 = 'ML course 8th Jan'

In [16]:
s1[3:9]

'course'

## Printing a string

In [17]:
'hello world'

'hello world'

In [18]:
#we can't output multiple strings this way
'hello world1'
'hello world2'

'hello world2'

In [19]:
print('hello world1')
print('hello world2')

hello world1
hello world2

In [20]:
print('hello world1
      hello world2')

SyntaxError: unterminated string literal (detected at line 1) (888272247.py, line 1)

In [21]:
print('hello world1 \nhello world2')

hello world1
hello world2

In [22]:
print('Use \n to enter a new line')

Use
 to enter a new line

In [23]:
print('hello\tworld')

hello	world

In [24]:
print(s1)

ML course 8th Jan

In [25]:
#length of string
len('jdfhjahfjsafjdshl')

17

In [26]:
len(s1)

17

In [27]:
s2 = 'Hello RBPL'

In [28]:
#print the object s2
print(s2)

Hello RBPL

In [29]:
#Grab the first element of s2
s2[0]

'H'

In [30]:
#Grab the last element of s2
s2[-1]

'L'

In [31]:
len(s2)

10

In [32]:
#Grab this: 'ello RB'
s2[1:-2]

'ello RB'

In [33]:
#Grab everything past the first character all the way to the length of s2 
s2[1:]

'ello RBPL'

In [34]:
s2

'Hello RBPL'

In [35]:
#Print s2 backwards
s2[::-1]

'LPBR olleH'

In [36]:
#Grab everything from right to left upto o
s2[:3:-1]

'LPBR o'

In [37]:
s3 = s2[::-1]
s3[:-4]

'LPBR o'

In [38]:
s2[::-1][:-4]

'LPBR o'

In [41]:
s2

'Hello RBPL'

In [44]:
#Grab everything but last 2 letters with a space of 2 letters between them
#'abcdef' ==> 'ad'

s2[:-2:3]

'HlR'

In [42]:
len(s2)

10

In [45]:
s2[:8:3]

'HlR'

Hello RBPL
0123456789
9 -> -1
8 -> -2
7 -> -3
6 -> -4
5 -> -5
0 -> -10

## Properties of string

#### Immutability: once created, the element within it cannot be changed or replaced
#### Concatenation

In [46]:
s2

'Hello RBPL'

In [48]:
s2[0] = 'X'

TypeError: 'str' object does not support item assignment

In [49]:
#Concatenate
s2 + ' this is concatenated to s2.'

'Hello RBPL this is concatenated to s2.'

In [50]:
s2

'Hello RBPL'

In [51]:
s2 = s2 + ' this is concatenated to s2.'

In [52]:
s2

'Hello RBPL this is concatenated to s2.'

In [55]:
s5 = s2 + 'this has been assigned to variable s5'

In [56]:
s5

'Hello RBPL this is concatenated to s2.this has been assigned to variable s5'

In [57]:
s2

'Hello RBPL this is concatenated to s2.'

In [58]:
print(s5)

Hello RBPL this is concatenated to s2.this has been assigned to variable s5

In [59]:
2+8

10

In [61]:
type('2')

str

In [62]:
type(2)

int

In [63]:
'2'+'8'

'28'

In [64]:
x = 2
y = 5

In [65]:
x+y

7

In [66]:
a = '2'
b = '5'
a+b

'25'

In [67]:
'2'+5

TypeError: can only concatenate str (not "int") to str

In [68]:
print(a+b)

25

In [69]:
2*10

20

In [70]:
'2'*10  #Multiplication in string is to create repetition

'2222222222'

In [71]:
'hi '*3

'hi hi hi '

## Built-in String Methods

object.method(parameters)

In [78]:
s2 = 'Hello RBPL this is concatenated to s2.'

In [79]:
s2.upper()

'HELLO RBPL THIS IS CONCATENATED TO S2.'

In [80]:
s2.upper

In [81]:
s2

'Hello RBPL this is concatenated to s2.'

In [82]:
s2.lower()

'hello rbpl this is concatenated to s2.'

In [83]:
s2.split()  #split a string by a blank space (this is default)

['Hello', 'RBPL', 'this', 'is', 'concatenated', 'to', 's2.']

In [87]:
s2.split('B') #split a string by a specific element (doesnt include the element itself)

['Hello R', 'PL this is concatenated to s2.']

In [88]:
s2.split('o')

['Hell', ' RBPL this is c', 'ncatenated t', ' s2.']

# Print Formatting

In [89]:
#.format method

'Put a string with curly brackets : {}'.format('This is inserted string')

'Put a string with curly brackets : This is inserted string'

In [90]:
'I enjoy {},{} and {}'.format('Singing','Dancing','Running')

'I enjoy Singing,Dancing and Running'

In [91]:
result = 81**0.5

In [93]:
print('The result was {x}. But in second attempt I got {y}'.format(y=result, x='Failed'))

The result was Failed. But in second attempt I got 9.0

In [94]:
# f strings
f'The result was {result}'

'The result was 9.0'

In [95]:
x = 'Shreyas'
y = 'Instructor of DAPP'


f'His name is {x} and he is {y}'

'His name is Shreyas and he is Instructor of DAPP'

In [97]:
'His name is {}, and he is {}'.format(x,y)

'His name is Shreyas, and he is Instructor of DAPP'

## Formatting with Placeholders

%s to inject stings into print statements. Module, that is %, is called as 'string formatting operator'

In [101]:
"Let's inject %s here"%'something'

"Let's inject something here"

In [102]:
"I'm going to put something %s here and %s here"%('good','bad')

"I'm going to put something good here and bad here"

In [104]:
x, y = 'good','bad'
"I'm going to put something %s here and %s here"%(y,x)

"I'm going to put something bad here and good here"

## Conversion methods

In [108]:
print('His name is %s'%'David')

His name is David

In [110]:
print('His name is %r'%'David')  #%r is representation of string

His name is 'David'

In [111]:
print('His name is %s'%'David \t tabbed')

His name is David 	 tabbed

In [112]:
print('His name is %r'%'David \t tabbed')

His name is 'David \t tabbed'

In [113]:
print('His number is %d'%100.45456)

His number is 100

In [117]:
x = 'David'
print(f"His name is {x!r}")

His name is 'David'