In [1]:
import numpy as np
import pandas as pd

# Creating a series from python objects

In [3]:
#help(pd.Series)

#### List

In [13]:
my_i = ['USA','Canada','Mexico']
my_d = [1776,1867,1821]

In [15]:
my_s = pd.Series(index = my_i, data = my_d)

In [16]:
my_s

USA       1776
Canada    1867
Mexico    1821
dtype: int64

In [18]:
my_r = np.random.randint(0,100,5)

In [19]:
my_n = ['Ram','Rahul','Shreyas','Subrat','Rohit']

In [20]:
ages = pd.Series(data=my_r,index=my_n)

In [21]:
ages

Ram        24
Rahul      72
Shreyas    76
Subrat      8
Rohit      67
dtype: int32

#### Dictionaries

In [22]:
ages = {'Ram':24,'Rahul':72,'Shreyas':76,'Subrat':8,'Rohit':67}

In [23]:
pd.Series(ages)

Ram        24
Rahul      72
Shreyas    76
Subrat      8
Rohit      67
dtype: int64

# Key Ideas

In [24]:
q1 = {'Japan':43,'China':450,'India':210,'USA':300}
q2 = {'Brazil':99,'China':500,'India':250,'USA':260}

In [25]:
rev_q1 = pd.Series(q1)
rev_q2 = pd.Series(q2)

In [26]:
rev_q1

Japan     43
China    450
India    210
USA      300
dtype: int64

In [27]:
rev_q1['Japan']

43

In [28]:
rev_q1[0]

C:\Users\shrey\AppData\Local\Temp\ipykernel_20528\2833669969.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  rev_q1[0]

43

In [29]:
rev_q1.keys()

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

In [30]:
#broadcasting operations
rev_q1*5

Japan     215
China    2250
India    1050
USA      1500
dtype: int64

In [31]:
rev_q2/50

Brazil     1.98
China     10.00
India      5.00
USA        5.20
dtype: float64

# Operations between Series

In [32]:
rev_q1+rev_q2

Brazil      NaN
China     950.0
India     460.0
Japan       NaN
USA       560.0
dtype: float64

In [35]:
rev_q1.add(rev_q2,fill_value=0)

Brazil     99.0
China     950.0
India     460.0
Japan      43.0
USA       560.0
dtype: float64