In [1]:
import numpy as np 
import pandas as pd

In [6]:
df = pd.read_csv(r"C:\Users\shrey\Desktop\DAPP_Dec2023\Data\example.csv")   #, index_col= 2)

In [7]:
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [8]:
df.to_csv('dapp_dec2023.csv')

# HTML

In [9]:
tab_wiki = pd.read_html('https://en.wikipedia.org/wiki/World_population')

In [11]:
len(tab_wiki)

#29 tables in this page

29

In [17]:
world_pop = tab_wiki[4]

In [18]:
world_pop.columns

Index(['Rank', 'Country / Dependency', 'Population', 'Percentage of the world',
       'Date', 'Source (official or from the United Nations)'],
      dtype='object')

In [19]:
world_pop.to_csv('world_pop.csv')

In [20]:
world_pop.to_html('world_pop.html')

# Excel Files

In [24]:
df = pd.read_excel(r"C:\Users\shrey\Desktop\DAPP_Dec2023\Data\my_excel_file.xlsx")

In [25]:
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [26]:
pd.ExcelFile(r"C:\Users\shrey\Desktop\DAPP_Dec2023\Data\my_excel_file.xlsx").sheet_names

['First_Sheet']

In [27]:
df.to_excel('example_21dec.xlsx')