In [1]:
#Example1

lst1 = [1,2,3,4,5,6,7,8,9,10]

In [5]:
#get me half of lst1
for number in lst1:
    print(number/2)

0.5
1.0
1.5
2.0
2.5
3.0
3.5
4.0
4.5
5.0

In [6]:
#print even number from list
for number in lst1:
    if number % 2 == 0:
        print(number)

2
4
6
8
10

In [9]:
#print odd numbers and inplace of even numbers print 'this is a even number'

for number in lst1:
    if number % 2 == 0:
        print('this is a even number')
    else:
        print(number)

1
this is a even number
3
this is a even number
5
this is a even number
7
this is a even number
9
this is a even number

In [11]:
lst1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [13]:
sum = 0 

for num in lst1:
    sum += num
print(sum)

55

In [14]:
for x in 'this is a string':
    print(x)

t
h
i
s

i
s

a

s
t
r
i
n
g

In [16]:
for x in (1,2,3,4):
    print(x**2)

1
4
9
16

## Tuple Unpacking

In [17]:
lst2 = [(1,2),(3,4),(5,6),(7,8)]

In [18]:
for tup in lst2:
    print(tup)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [22]:
for (tup1,tup2) in lst2:
    print(tup1,tup2)

1 2
3 4
5 6
7 8

In [26]:
lst3 = []

for x,y in lst2:
    lst3.append(x+y)
print(lst3)

[3, 7, 11, 15]

In [27]:
d = {'k1':1,'k2':11,'k3':111}

In [29]:
for x in d:
    print(x) #we got only keys

k1
k2
k3

In [30]:
d.items()

dict_items([('k1', 1), ('k2', 11), ('k3', 111)])

In [31]:
#Dictionary Unpacking

for (x,y) in d.items():
    print(x)
    print(y)

k1
1
k2
11
k3
111

In [32]:
sum=0
for (x,y) in d.items():
    sum=sum+y
print(sum)

123

In [33]:
sum =0
for x in d:
    sum += d[x]
    
print(sum)

123

In [34]:
d.values()

dict_values([1, 11, 111])

In [35]:
sum = 0 

for x in d.values():
    sum = sum + x
    
print(sum)

123

In [36]:
st = 'Print only the words that start with t in this string'

In [38]:
st.split()

['Print',
 'only',
 'the',
 'words',
 'that',
 'start',
 'with',
 't',
 'in',
 'this',
 'string']

In [37]:
for word in st.split():
    if word[0] == 't':
        print(word)

the
that
t
this

write a program that prints the integers from 1 to 100. But for multiple of 4 print 'Hello RBPL', for multiple of 8 print 'Hello Shreyas' and for multiple of both 4 and 8 print '8th January 2024'

In [5]:
for x in range(1,101):
    if(x%4==0):
        if(x%8==0):
            print('8th January 2024')
        else:
            print('Hello RBPL')
    elif(x%8==0):
        if(x%4==0):
            print('8th January 2024')
        else:
            print('Hello Shreyas')
    else:
        print(x)

1
2
3
Hello RBPL
5
6
7
8th January 2024
9
10
11
Hello RBPL
13
14
15
8th January 2024
17
18
19
Hello RBPL
21
22
23
8th January 2024
25
26
27
Hello RBPL
29
30
31
8th January 2024
33
34
35
Hello RBPL
37
38
39
8th January 2024
41
42
43
Hello RBPL
45
46
47
8th January 2024
49
50
51
Hello RBPL
53
54
55
8th January 2024
57
58
59
Hello RBPL
61
62
63
8th January 2024
65
66
67
Hello RBPL
69
70
71
8th January 2024
73
74
75
Hello RBPL
77
78
79
8th January 2024
81
82
83
Hello RBPL
85
86
87
8th January 2024
89
90
91
Hello RBPL
93
94
95
8th January 2024
97
98
99
Hello RBPL

In [2]:
for i in range(1,101):   
    if (i%4==0 and i%8==0):
         print("8th January, 2024")  
    elif(i%8==0):
         print("Hello Shreyas")
    elif(i%4==0):
         print("Hello RBPL")
    else:
         print(i)

1
2
3
Hello RBPL
5
6
7
8th January, 2024
9
10
11
Hello RBPL
13
14
15
8th January, 2024
17
18
19
Hello RBPL
21
22
23
8th January, 2024
25
26
27
Hello RBPL
29
30
31
8th January, 2024
33
34
35
Hello RBPL
37
38
39
8th January, 2024
41
42
43
Hello RBPL
45
46
47
8th January, 2024
49
50
51
Hello RBPL
53
54
55
8th January, 2024
57
58
59
Hello RBPL
61
62
63
8th January, 2024
65
66
67
Hello RBPL
69
70
71
8th January, 2024
73
74
75
Hello RBPL
77
78
79
8th January, 2024
81
82
83
Hello RBPL
85
86
87
8th January, 2024
89
90
91
Hello RBPL
93
94
95
8th January, 2024
97
98
99
Hello RBPL

In [9]:
lst = []
lst_4 = []
lst_8 = []

for i in range(1,101):
    lst.append(i)
    lst_4.append(4*i)
    lst_8.append(8*i)
    
for x in range(1,101):
    if((x in lst_4) and (x in lst_8)):
        print("8th Jan 2024")
        
    elif(x in lst_4):
        print("Hello RBPL")
        
    elif(x in lst_8):
        print("Hello Shreyas")
        
    else:
        print(x)

1
2
3
Hello RBPL
5
6
7
8th Jan 2024
9
10
11
Hello RBPL
13
14
15
8th Jan 2024
17
18
19
Hello RBPL
21
22
23
8th Jan 2024
25
26
27
Hello RBPL
29
30
31
8th Jan 2024
33
34
35
Hello RBPL
37
38
39
8th Jan 2024
41
42
43
Hello RBPL
45
46
47
8th Jan 2024
49
50
51
Hello RBPL
53
54
55
8th Jan 2024
57
58
59
Hello RBPL
61
62
63
8th Jan 2024
65
66
67
Hello RBPL
69
70
71
8th Jan 2024
73
74
75
Hello RBPL
77
78
79
8th Jan 2024
81
82
83
Hello RBPL
85
86
87
8th Jan 2024
89
90
91
Hello RBPL
93
94
95
8th Jan 2024
97
98
99
Hello RBPL